.app, .app * {
    border: 0.1px solid white;
}

.app {
    min-height: 80vh;
    width: 70vw;
    margin: 10vh auto;
}

.app .menu {
    display: flex;
}

.app .menu-item {
    border-radius: 10px;
    font-size: large;
}

.menu .menu-item {
    background-color: brown;
    height: 6vh;
    border-radius: 5vh;
    text-align: center;
    font-size: 5vh;
}

.menu#first .menu-item {
    padding: auto 10px;
}

.menu#second .menu-item {
    width: 6vh;
}