body {
    background-color: black;
    color:azure;
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}


.wrapper {
    border: rgb(61, 250, 54) solid 0.3px;
    min-height: 90vh;
    width: 80vw;
}

.content {
    border: rgb(255, 118, 118) solid 0.3px;
    min-height: 100%;
}


.login {
    border: white solid 0.3px;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    margin-top: 100px;
}