body {
    background-color: black;
    color:azure;
}

.header * {
    text-align: center;
}

.header--menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-content: stretch;
}

.header--menu li {
    cursor: pointer;
    border: 0.5px solid white;
    border-radius: 10px;
    margin: auto 5px;
    padding: 10px;
}

.content--exercise {
    width: 300px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.content * {
    margin-top: 30px;
    text-align: center;
}

.content-box__hide {
    display: none;
}

.btn__on {
    background-color: beige;
    color: black;
}

.content .element {
    font-size: 40px;
}

.content input {
    font-size: 40px;
    width: 70px;
}

.input-waiting {
    background-color: white;
    transition: 0.3s;
}

.input-wrong {
    background-color: red;
    transition: 0.001s;
}

.input-right {
    background-color: green;
    transition: 0.001s;
}

.msg-wrong {
    color: red;
}

.msg-right {
    color: green;
}